.user-profiles-grid {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
.title {
  margin-top: 100px;
  color: black;
}
.user-profile-card {
  background-color: #ffffff;
  color: #000000;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.user-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
.user-email,
.user-role {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.label {
  font-weight: 500;
  margin-right: 0.25rem;
}
.user-profile-card:hover {
  background-color: #000000;
  color: #ffffff;
}